{% extends 'base.html' %}

{% block body %}
   <div class="container pt-4">
        <div class="row row-cols-1 row-cols-lg-1 g-4">
            <div class="col shadow mt-5 mx-auto">
                <div class="p-3">
                    <h1 class="text-center">Get in touch</h1>
                    <div class="row my-4 g-3">
                        <div class="col">
                            <div class="shadow p-3">
                                <h4>Contact </h4>
                                <a href="tel:+919772168220">+91-9772-168-220</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="shadow p-3">
                                <h4>Email Id </h4>
                                <a href="mailto:rdsaini220@gmail.com">rdsaini220@gmail.com</a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="shadow p-3  ">
                                <h4>Address </h4>
                                <a href="#">Palsana, Sikar, Rajasthan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
{% endblock %}